h1 {
  font-size: 24px;
  font-weight: 100;
  color: #594f87;
  margin-bottom: 0;
  padding-top: 25px;
}
ul {
  list-style: none;
  font-size: 16px;
  color: #6d6882;
}
form {
  padding: 5px 0px;
  border-radius: 10px;
}
#button {
  background-color: #594f87;
  color: white;
  border-radius: 4px;
  border-color: #594f87;
  transition-delay: all ease 200ms;
}
#button:hover {
  background-color: #6d6882;
  color: white;
  border-radius: 4px;
  border-color: #6d6882;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  background-color: #f0eefb;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #452e90;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px;
  box-shadow: #594f87;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 0;
}
.date {
  position: relative;
  top: -10px;
  padding: 0 20px 0 0;
  display: inline;
  font-weight: 600;
  color: #6d6882;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-temperature a {
  text-decoration: none;
  color: #8b81b3;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  display: inline;
  font-weight: 400;
  font-size: 64px;
  font-stretch: 100%;
  line-height: 1;
}
.weather-temperature .units {
  font-size: 16px;
}
.code-link {
  color: #452e90;
}
